@import url('../../variables.css');

.wrapper {
    padding: 0.5rem;
    width: 150px;
    height: 220px;

    border: 1px solid var(--color);
    background-color: #252525;
}

.image {
    margin-bottom: 1rem;
}

.title {
    font-size: 0.8rem;
    color: var(--email-color);
}
